<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<ul>
    <% if (locals.users) { %>
        <% users.forEach(user => { %>
            <li>
                ID: <%= user.id %>,
                Name: <%= user.firstName %> <%= user.lastName %>
                <br>
                Email: <%= user.email%>
                <br>
                Age: <%= user.age %>
                <br>
                Bio: <%= user.bio %>
                <br>
                <a href="/<%= user.id %>/update">Update</a>
            </li>
            <form
                    action="/<%= user.id %>/delete"
                    method="post"
                    style="display: inline"
            >
                <button
                        type="submit"
                        onclick="return confirm('Are you sure?')
"
                >Delete
                </button>
            </form>
        <% }); %>
    <% } %>
</ul>
<a href="/create">Create a user</a>
</body>
</html>
